html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, em {
  font-family: 'Pacifico', cursive;
}

input {
  border: 2px solid #333;
  padding: 5px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 200px;
}

.btn {
  font-family: 'Pacifico', cursive;
  border: 2px solid #333;
  padding: 5px;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.bg {
  background: url(../img/bg.gif);
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1000;
}

#buttons a {
  width: 100%;
  height: 25%;
  display: block;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@keyframes btn-press {
  0% { transform: scale(1.0); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1.0); }
}

@keyframes breathing-cyan {
  0% { background-color: rgba(0, 255, 255, 1); }
  50% { background-color: rgba(0, 255, 255, 0); }
  100% { background-color: rgba(0, 255, 255, 1); }
}

@keyframes blinking-green {
  0% { background-color: rgba(0, 255, 0, 0); }
  49% { background-color: rgba(0, 255, 0, 0); }
  50% { background-color: rgba(0, 255, 0, 1); }
  100% {
    background-color: rgba(0, 255, 0, 1);
    box-shadow: rgba(0, 255, 0, 1) 0 0 10px;
  }
}

@keyframes blinking-blue {
  0% { background-color: rgba(0, 0, 255, 0); }
  49% { background-color: rgba(0, 0, 255, 0); }
  50% { background-color: rgba(0, 0, 255, 1); }
  100% {
    background-color: rgba(0, 0, 255, 1);
    box-shadow: rgba(0, 0, 255, 1) 0 0 10px;
  }
}

a.active img {
  animation: btn-press 100ms forwards linear;
}

a img {
  height: 90%;
}

.device-dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
}

.breathing-cyan {
  -webkit-animation: breathing-cyan 4s ease-in-out infinite;
}

.blinking-green {
  -webkit-animation: blinking-green 0.5s linear infinite;
}

.blinking-blue {
  -webkit-animation: blinking-blue 1s linear infinite;
}

#buttons {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#setup {
  display: none;
  margin: 50px;
  padding: 0 50px;
  text-align: center;
  border: 2px solid #333;
  background: rgba(255, 255, 255, 0.8);
}

.step {
  display: none;
}

#step-1 {
  display: block;
}

#step-3 ul a {
  display: block;
  margin-bottom: 5px;
}
